@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400&family=Righteous&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: linear-gradient(135deg, #000000, #060606, #121212, #181818, #242424, #303030, #363636);
    background-size: 500%;
    animation: fanimado 20s linear infinite;
}

@keyframes fanimado{
    0%{
        background-position: 0% 50%;        
    }

    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}

:root {
    --bg: #bbb;
    --tx: #e4e4e4;
    --wh: #e4e4e4;
    --bl: #202020;
}

/* Estilo header */
header {
    position: fixed;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem 1rem 4rem;
}

.name {
    display: flex;
    justify-content: center;
}

.title {
    color: var(--tx);
    position: relative;
    font-weight: 700;
    font-size: 3.5rem;
    text-shadow: 1px 1px 0 #0000008c, 2px 2px 0 #bbb, 3px 3px 0 #aaa, 4px 4px 0 #888;
    cursor: pointer;
}

.title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 65px;
    width: 100%;
    height: 5px;
    background: var(--tx);
    border-radius: 1rem;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.title:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    box-shadow: 0.2rem 0.2rem 0.2rem var(--bg);
}

.logo-responsive a {
    font-family: 'Righteous';
    font-size: 36px;
    color: var(--wh);
    text-decoration: none;
    text-shadow: 1px 1px 0 #0000008c, 2px 2px 0 #bbb, 3px 3px 0 #aaa, 4px 4px 0 #888;
}

.logo-responsive {
    transition: .5s ease;
    display: none;
    text-align: center;
}

.logo-responsive:hover {
    transform: scale(1.5);
}

.container-nav {
    margin: 0;
}

.navbar {
    padding: 0;
    justify-content: space-between;
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: var(--tx);
    font-weight: 700;
    text-align: center;
    margin-left: 1rem;
}

.show-nav a ion-icon:hover {
    color: rgb(118, 107, 82);
}

.navbar a p::after {
    content: '';
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 3px;
    background: var(--tx);
    border-radius: 5px;
    transform: translatey(10px);
    opacity: 0;
    transition: 1s;
}

.navbar a p:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.icon {
    position: relative;
    display: block;
    font-size: 1.5rem;
}

.nav-responsive {
    background-color: transparent;
    color: var(--wh);
    padding-top: 20px;
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

   
/* Estilo Inicio */
main {
    height: 100vh;
    display: flex;
}

.container-home {
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    background: url(../img/img-home.jpg)no-repeat;
    background-size: cover;
    height: 700px;
    width: 80%;
    display: flex;
}

.content {
    width: 70%;
    height: 100%;
    background-color: transparent;
    padding: 80px;
    color: var(--wh);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content .logo {
    display: flex;
    font-family: 'Righteous';
    font-size: 40px;
    font-weight: 400;
}

.text-home h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
}

.text-home h2 span {
    font-size: 30px;
}

.text-home p {
    font-size: 20px;
    text-align: justify;
    font-weight: lighter;
}

.socials a ion-icon {
    font-size: 30px;
    color: var(--wh);
    margin-right: 15px;
    transition: .5s ease;
}

.socials a:hover ion-icon {
    transform: scale(1.5);
}

/* Seccion responsiva a 1030px */

@media screen and (max-width:1030px) {
    .logo-responsive {
        display: block;
    }

    header section {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    .navbar a {
        width: 100%;
        margin: 0;
    }

    .show-nav {
        display: block;
        position: absolute;
        right: 55px;
        top: 75px;
        background-color: var(--bl);
        height: auto;
        width: 50px;
        border-radius: 0.5rem;
        justify-content: center;
        margin: 0;
    }

    .show-nav nav a p {
        display: none;
    }

    .show-nav nav a ion-icon {
        width: 100%;
        display: block;
        margin-bottom: 4px;
    }

    main {
        align-items: start;
    }

    .home {
        height: auto;

    }

    .content {
        width: 100%;
        padding: 40px;
        text-align: center;
    }

    .content .logo {
        display: none;
    }

    .text-home h2 {
        font-size: 30px;
    }

    .text-home h2 span {
        display: none;
    }

    .text-home p {
        font-size: 14px;
    }

    .socials {
        margin-top: 20px;
    }

    .socials a ion-icon {
        font-size: 24px;
        margin-right: 10px;
    }
}