@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

:root
{
    --bg: #bbb;
    --tx: #e4e4e4;
    --wh: #e4e4e4;
}

html {
    background-color: black;
}
/* Estilo header */
header {
    position: fixed;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.name{
    display: flex;
    width: 35%;
    height: 55px;
    justify-content: center;
}
.title {
    color: var(--tx);
    position: relative;
    font-weight:700;
    font-size: 3.5rem;
    text-shadow: 1px 1px 0 #0000008c, 2px 2px 0 #bbb, 3px 3px 0 #aaa, 4px 4px 0 #888;
    cursor: pointer;
}

.title::after{
    content: ''; 
    position:absolute;
    left: 0;
    top: 65px;
    width: 100%;
    height: 5px;
    background: var(--tx);
    border-radius: 1rem;
    transform-origin: right;
    transform: scaleX(0); 
    transition: transform 0.5s;
}

.title:hover::after { 
    transform-origin: left;
    transform: scaleX(1);
    box-shadow: 0.2rem 0.2rem 0.2rem var(--bg);
}

.container-nav {
    width: 35%;
    margin: 0;
}
.navbar {
    margin-right: 2rem;
    padding: 0;
    justify-content: space-evenly;
}

.navbar a{
    position: relative;
    text-decoration: none;
    color: var(--tx);
    font-weight: 700;
    text-align: center;
  }

  .navbar a span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 3px;
    background: var(--tx);
    border-radius: 5px;
    transform: translatey(10px);
    opacity: 0;
    transition: 1s;
  }

.navbar a span:hover::after{
    transform: translateY(0);
    opacity: 1;
}

.icon {
    position: relative;
    display: block;
    font-size: 1.5rem;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 700px;
    background: url(../img/img-home.jpg)no-repeat;
    background-size: cover;
    background-position: center;

}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background-color: transparent;
    padding: 80px;
    color: var(--wh);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content .logo {
    font-size: 40px;
    font-weight:bolder;
}

.text-home h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
}

.text-home h2 span{
    font-size: 30px;
}

.text-home p {
    font-size: 20px;
    text-align: justify;
    font-weight: lighter;
}

.socials a ion-icon {
    font-size: 30px;
    color: var(--wh);
    margin-right: 15px ;
    transition: .5s ease;
}

.socials a:hover ion-icon{
    transform: scale(1.5);
}